.portfolio {
  margin: 0 auto;
  margin-bottom: 125px;
}
.portfolio__list {
  margin: 0 auto;
  padding: 0;
  margin-top: 50px;
}
.portfolio__item {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 auto;
}
.portfolio__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
}
.portfolio__text {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 1.67;
  font-style: normal;
  font-weight: 400;

  letter-spacing: -1.2px;

  text-align: left;
  color: #ffffff;
}

.portfolio__text_pointer {
  line-height: 2;
}
.portfolio__line {
  border-color: #424242;
  margin: 0;
  padding: 0;
  margin-top: 19px;
  margin-bottom: 20px;
  /* height: 1px; */
  /* border-width: 1px; */
  /* width: 1px; */
}
.portfolio__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.11;
  font-style: normal;
  font-weight: 400;

  letter-spacing: -1.2px;

  text-align: left;
  color: #8b8b8b;
}
