.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 18px 70px;
  margin: 0;
}
.header_background_full {
  background-color: #073042;
}
.header_background_clear {
  background-color: none;
}
/* 
.header__logo {
} */
