.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 18px 70px;
  margin: 0;
  gap: 45px;
}
.header_background_full {
  background-color: #073042;
}
.header_background_clear {
  background-color: none;
}

@media (max-width: 900px) {
  .header {
    padding: 18px 30px;
  }
}

@media (max-width: 450px) {
  .header {
    padding: 18px 14px;
  }
}
